<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <p>{{{real_name}}}</p>
            <p>{{{username}}}</p>
            <p>{{{password}}}</p>
            <p><a href="/logout">Log Out</a></p>
        </div>

        <div class="bag">
            <h1>Bag</h1>
            <div class="bugsak">
                {{{snakname}}}
                {{{happiness}}}
            </div>
            <div class="bugsak">
                {{{snakname}}}
                {{{happiness}}}
            </div>
            <div class="bugsak">
                {{{snakname}}}
                {{{happiness}}}
            </div>
        </div>

    </div>
</section><!-- End Contact Section -->