<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <p>{{{real_name}}}</p>
            <p>{{{username}}}</p>
            <p>{{{password}}}</p>
            <p><a href="/logout">Log Out</a></p>
        </div>
    </div>
  </section><!-- End Contact Section -->

  <br>
  <hr>

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">

    <div class="container" data-aos="fade-up">

      <div class="section-title">
          <h2>{{{real_name}}}'s Collection</h2>
          <p>Welcome to your Collection {Name}! Here you can look through all of the Bugsnax you've collected so far!
                    You can also interact with your Bugsnax as well as add new ones to your collection!</p>
      </div>

      <div class="row gy-4">


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                  <div class="icon">
                      <img src="bugsnax/bunger_collection.webp" alt="" class="img-fluid">
                  </div>
                    <h4>Bunger</h4>
                    <p>Bugsnak: {{{snak_name}}}</p>
                    <p>Hunger: {{{hunger_rate}}}</p>
                    <p>Happiness: {{{happy_rate}}}</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box iconbox-orange">
                  <div class="icon">
                      <img src="bugsnax/Aggroll_collection.webp" alt="" class="img-fluid">
                  </div>
                      <h4>Aggroll</h4>
                      <p>Aggroll is an aggressive Bugsnak. Aggroll's body is a paper box with four egg rolls for legs. Aggroll's native region is unknown. They are attracted to hot sauce.</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box iconbox-pink">
                  <div class="icon">
                      <img src="bugsnax/Big_Bopsicle_collection.webp" alt="" class="img-fluid">
                  </div>
                      <h4>Big Bopsicle</h4>
                      <p>Big Bopsicle is an aggressive Bugsnak. Big Bopsicle is a double popsicle Bugsnak that is beetle-like. They will ram into threats freezing them. The Bugsnak can be broken into two Bopsicles.</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-yellow">
                  <div class="icon">
                      <img src="bugsnax/cinnasnail_collection.webp" alt="" class="img-fluid">
                  </div>
                      <h4>Cinnasnail</h4>
                      <p>Cinnasnail is a snail-like Bugsnak. Cinnasnail is so sticky that it can climb any surface, leaving behind a trail of icing.</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box iconbox-red">
                  <div class="icon">
                      <img src="bugsnax/chillynilly_collection.webp" alt="" class="img-fluid">
                  </div>
                      <h4>Chillynilly</h4>
                      <p>Chillynilly is an ice cream sandwhich Bugsnak that resembles a firefly. Chillynilly is nocturnal. They love chocolate.</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box iconbox-teal">
                  <div class="icon">
                      <img src="bugsnax/pineantula_collection.webp" alt="" class="img-fluid">
                  </div>
                      <h4>Pineantula</h4>
                      <p>Pineantula is a pineapple Bugsnak resembling a spider. Pineantula is timid and spends a lot of its time burrowing in the sand like a trapdoor spider.</p>
              </div>
          </div>

      </div>

    </div>

  </section><!-- End Services Section -->
